.rating-badge {
    --rating-font-size: 1rem;
    --rating-size: 2.5rem;
    --rating-value-1: 20%;
    --rating-value-2: 40%;

    padding: 0.25rem;
    height: var(--rating-size);
    width: var(--rating-size);
    font-size: var(--rating-font-size);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    border-radius: 9999px;
}

.rating-badge--empty {
    background: conic-gradient(#858585, #858585 var(--rating-value-1), #85858570 var(--rating-value-2), #85858570);
}

.rating-badge--bad {
    background: conic-gradient(#ff310d, #ff310d var(--rating-value-1), #96160070 var(--rating-value-2), #96160070);
}

.rating-badge--regular {
    background: conic-gradient(#ffaa0d, #ffaa0d var(--rating-value-1), #ffaa0d33 var(--rating-value-2), #ffaa0d33);
}

.rating-badge--good {
    background: conic-gradient(#2AC839, #2AC839 var(--rating-value-1), #2AC83933 var(--rating-value-2), #2AC83933);
}

.rating-badge__content {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 9999px;
}

.rating-badge__percentage {
    font-size: calc(var(--rating-font-size) * 0.6);
}