.hero {
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.hero__backdrop {
    z-index: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    background-position: top center;
    background-size: cover;
    background-image: var(--hero-bg-image);
    filter: contrast(1.2) brightness(1.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.hero__backdrop:before {
    content: "";
    display: flex;
    position: absolute;
    background: linear-gradient(
        to right,
        var(--background-color) 0%,
        rgba(var(--background-color-code), 0.6),
        rgba(var(--background-color-code), 0)
    );
    width: 50%;
    height: 100%;
    left: 0;
}

.hero__backdrop:after {
    content: "";
    display: flex;
    position: absolute;
    background: linear-gradient(
        to top,
        var(--background-color),
        rgba(var(--background-color-code), 0)
    );
    width: 100%;
    height: 20%;
    bottom: 0;
}

.hero__grid {
    z-index: 10;
    margin: auto 0;
    width: 100%;
}

.hero__content {
    margin-top: 5rem;
    max-width: 34rem;
}

.carousel__button-container {
    --carousel__button-container-direction: right;
    --carousel__button-padding: none;
    --carousel__button-right: auto;
    --carousel__button-left: auto;
    --carousel__button-opacity: 1;

    transition: all 600ms ease-out;
    position: absolute;
    height: 100%;
    opacity: var(--carousel__button-opacity);
    right: var(--carousel__button-right);
    left: var(--carousel__button-left);
    padding: var(--carousel__button-padding);
    background: linear-gradient(
        to var(--carousel__button-container-direction),
        transparent,
        var(--background-color)
    );
}

.carousel__button-container--right {
    --carousel__button-right: 0px;
    --carousel__button-left: auto;
    --carousel__button-container-direction: right;
    --carousel__button-padding: 0 2rem;
}

.carousel__button-container--left {
    --carousel__button-right: auto;
    --carousel__button-left: 0px;
    --carousel__button-container-direction: left;
    --carousel__button-padding: 0 2rem;
}

.carousel__button-container--hidden {
    --carousel__button-opacity: 0;
}

.carousel__button-container--hidden.carousel__button-container--right {
    --carousel__button-right: -300px;
}

.carousel__button-container--hidden.carousel__button-container--left {
    --carousel__button-left: -300px;
}
